/* ==========================================================================
	 Base Styles
	 ========================================================================== */ 

  :root {
    --yellow: #F9D36A;
    --black: #000;
    --light-black: #333;
    --white: #fff;
    --font-medium: 500;
    --font-bold: 700;
    --font-extra-bold: 800;
  }
  body {
    padding: 0;
    margin: 0;
  }
   *,
   *::before,
   *::after {
	  box-sizing: border-box;
   }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .container {
    display: flex;
    position: relative;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  @media (min-width: 576px) {
    .container {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  .col-12 {
    width: 100%;
  }
  .col-6 {
    width: 50%;
  }
  .button {
    cursor: pointer;
    font-size: 1rem;
    font-weight: var(--font-bold);
    border: 0;
    border-radius: 0.5rem;
    width: 11.25rem;
    height: 2.5rem;
    &.button--prev {
      background-color: var(--yellow);
      color: var(--black);
    }
    &.button--next {
      background-color: var(--black);
      color: var(--yellow);
    }
  }

/* ==========================================================================
	 Typography
	 ========================================================================== */ 

   body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Montserrat", sans-serif;
    font-size: 1em; /* 16px */
    font-optical-sizing: auto;
    font-style: normal;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.7em;
  }
  p {
    margin-top: 0;
  }
  h2 {
    font-size: 2.25rem;
    font-weight: var(--font-medium);
  }

/* ==========================================================================
	 Header
	 ========================================================================== */ 

.header {
  display: flex;
  align-items: center;
  background-color: var(--yellow);
  height: 3.75rem;
}
.header__logo {
  align-self: flex-start;
  margin: 0.75rem;
  width: 4.875rem;
  height: 4.875rem;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.25);
}
.header__logo img {
  max-width: 100%;
}
.header__title {
  margin-bottom: 0;
}
.header__title a {
  color: var(--black);
  font-weight: var(--font-extra-bold);
  font-size: 1.3125rem;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}
.header__nav {
  margin: 0;
  margin-left: auto;
  margin-right: 2rem;
  list-style-type: none;
}
.header__nav li {
  margin-left: 2rem;
  display: inline-block;
}
.header__nav a {
  color: var(--black);
  font-weight: var(--font-bold);
  font-size: 1rem;
  text-decoration: none;
}

/* ==========================================================================
	 Footer
	 ========================================================================== */

.footer {
  background-color: var(--black);
  padding: 1rem;
}
.footer p {
  color: var(--white);
  text-align: center;
  margin: 0;
}
.footer p a {
  color: inherit;
}

/* ==========================================================================
	 Intro section
	 ========================================================================== */

.section--intro {
  background-color: var(--black);
  color: var(--white);
  padding: 10rem 0;
  background-image: url(img/pallas-hero.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

/* ==========================================================================
	 Facts section
	 ========================================================================== */

.section--facts {
  padding: 4rem 0;
  background-image: url(img/snow.jpg);
  background-position: center bottom;
  background-size: cover;
}
.section--facts__intro {
  text-align: center;
  margin-bottom: 3rem;
}

/* ==========================================================================
	 Habitat section
	 ========================================================================== */

.section--habitat {
  padding: 4rem 0;
  background-color: var(--light-black);
}
.section--habitat img {
  max-width: 100%;
}
.section--habitat__text {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  color: var(--white);
}

/* ==========================================================================
	 Slider
	 ========================================================================== */

.slider {
  display: flex;
}
.slider__img {
  width: 50%;
}
.slider__img img {
  max-width: 100%;
}
.slider__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 2rem 4rem;
}
.slider__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.slider__desc p {
  margin: 0;
}
.slider__nav {
  display: flex;
  gap: 1rem;
}